body {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  margin-left: 16px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin: 8px;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color:#1F2937;
}

p {
  color: #E5E7EB;
  font-size: 18px;
  margin: 8px;
}

button {
  color: #E5E7EB;
  background-color: #3882F6;
  border: none;
  border-radius: 4px;
  height: 24px;
  width: 96px;
  margin-left: 8px;
  font-weight: 700;
}

img {
  width: 240px;
  height: 160px;
  border-radius: 12px;
  border: 4px solid #3882F6;
}

.header {
  display: flex;
  justify-content: space-evenly;
  background-color: #1F2937;
  color: #F9FAF8;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  height: 72px;
  align-items: center;
}

.header-links {
  display: flex;
  color: #E5E7EB;
  font-size: 18px;
  font-weight: 100;
  line-height: 18px;
  list-style: none;
}

.hero {
  background-color: #1F2937;
  display: flex;
  padding: 48px;
}

.hero-content {
  margin: 16px;
}

.infobar {
  display: flex;
  justify-content: center;
  gap: 42px;
  padding: 48px;
}

.quote {
  color: #1F2937;
  background-color: #E5E7EB;
  font-size: 36px;
  padding: 112px;
}

.quote p {
  font-size: 18px;
  text-align: right;
  color: #1F2937;
  font-weight: 700;
}

.caption {
  text-align: center;
}
